*{
	margin:0;
	padding:0;
}
body{
	margin: 0;
	background: #fff;
}
.contain{
	width: 100%;
}
#carousel .item img{
    display: block;
//    width: 100%;
//    height: auto;
}
div img{
	width: 100%;
}

.inner_slide{
}

.owl-theme .owl-controls .owl-page span{
	width: 20px;
	height: 20px;
}

.owl-theme .owl-controls .owl-buttons div{
	padding: 3px 10px;
	font-size: 18px;
}

.div_bottom{
	margin-top:8%;
}