<div class="contain">
	<div>
		<%= image_tag("mobile/img_01.png", class: "img_01") %>
	</div>
	<div>
		<%= image_tag("mobile/img_02_01.png", class: "img_01") %>
	</div>
	<div>
		<%= image_tag("mobile/bottom.png", class: "img_03") %>
	</div>		
</div>
