$(document).ready(function(){
	$('#carousel').owlCarousel({
	  items:4,
	  lazyLoad:true,
	  loop:true,
	  margin:10
	});
});



function twitter_share()
{
  $.ajax({
    type: "POST",
    url: "/viral_actions.json",
    data: {
      'viral_action[platform]': "Twitter",
      'viral_action[device]': "pc"
    },
    success: function (data) {
    }
    });
}

function blog_share()
{
  $.ajax({
    type: "POST",
    url: "/viral_actions.json",
    data: {
      'viral_action[platform]': "Blog",
      'viral_action[device]': "pc"
    },
    success: function (data) {
    }
    });
}


function validation(errors){
	var flag;
	flag = "uniqueness";
	$.each(errors,function(key, value){
		if(value == "must be accepted" || value == "can't be blank" ){
			flag = "presence";
		}
	});
	if(flag == "presence"){
		$(".star").empty();
		for ( error in errors ) {
		  // $('input[data-name ='+error+']').parent().find('span').remove();
		 $('input[data-name ='+error+']').after("<span class='star "+error+"'>*</span>");
		}
	}else if(flag == "uniqueness"){
    $("#popup_fin2").bPopup({
      closeClass: 'b-close',
      modalColor: '#000',
      follow: [false, false], //x, y
      position: ['auto', 70], //x, y
      onClose: function(){$("#popup_info").bPopup().close();}
    });		
	}
}

function share() {
  var text = "첫 구매 고객님에게\n시크릿 프로그래밍 에센스(40ml)를 선물로 드립니다.";
  var share_content = {
    method: "feed",
    name: "Skin Birthday",
    link: "<%= Rails.application.secrets.url %>?s=fb",
    picture: '<%= Rails.application.secrets.url + asset_url("sns/facebook_share.jpg") %>',
    caption: "Make your skin birthday Sponsored by 숨37",
    description: text
  };
  FB.ui(share_content, function(response) {
    if(response && response.post_id) {
      track_viral_action(viral_url, "facebook");
      alert("공유되었습니다.");
    }
    else {
      alert("다시 공유해주세요!");
    }
  });
}

function range(lowEnd, highEnd){
	var list = [];
	for (var i = lowEnd; i <= highEnd; i++) {
	    list.push(i);
	}
	return list;
}

function fb_analytics(){
	var fb_param = {};
	fb_param.pixel_id = '6012354702952';
	fb_param.value = '0.00';
	fb_param.currency = 'KRW';
	(function(){
	  var fpw = document.createElement('script');
	  fpw.async = true;
	  fpw.src = '//connect.facebook.net/en_US/fp.js';
	  var ref = document.getElementsByTagName('script')[0];
	  ref.parentNode.insertBefore(fpw, ref);
	})();
}
